*{margin: 0; padding: 0; text-decoration: none; list-style: none;
color: inherit;}
body{background-color: #ffffff;}

header{
  width: 100%;
  background-color: #ffffff;
  height: 90px;
  z-index: 500;
  border : 0px solid #575757;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;
  letter-spacing: 0px;
  color: #000000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100%;height: 70px;border: 0px solid red; display: flex;justify-content: center;
}
.nav_wrap{position: relative;width: 1024px;height: 70px;border: 0px solid blue;}

nav > .nav_wrap > ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; height: 70px;
  align-items: center;

}
nav > .nav_wrap > ul > li{
  border: 0px solid pink;
  list-style: none;
  display: flex;
  justify-content: center;

}
nav > .nav_wrap > ul > li > a{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  color: #000000;
  font-size: 1.1rem;
}
nav > .nav_wrap > ul > li > a:hover{text-decoration: underline;}


.cont01_wrap{width: 100%;height: 650px;display: flex;justify-content: center;background-color: #eeeeee;}
.cont02_wrap{width: 100%;height: 650px;display: flex;justify-content: center;background-color: #dddddd;}
.cont03_wrap{width: 100%;height: 650px;display: flex;justify-content: center;background-color: #eeeeee;}


.bg{height: 650px; width: 960px; background-size: cover; background-position: center;
display: flex; border : 0px solid #575757;}

.bg1{background-image: url(../img/00_01_bg.png);}
.bg2{background-image: url(../img/00_03_bg.png);}
.bg3{background-image: url(../img/00_05_bg.png);}
.bg4{background-image: url(../img/00_07_bg.png);}
.bg5{background-image: url(../img/00_09_bg.png);}

.tit1{position: relative;display: inline-block;border: 0px solid red;height: 130px;left:
  50%;top: 50%;transform: translateX(-95%) translateY(-50%);}

.bg_ext{display: flex;justify-content: center;align-items: center; float: left;}
.bg_ext_2{height: 650px;width: 1920px;}

/*—rollover start—*/
.cont01_wrap img{transform: scale(1);transition: 1s;}
.cont01_wrap img:hover{transform: scale(1.1);transition: 1s;}
.cont02_wrap img{transform: scale(1);transition: 1s;}
.cont02_wrap img:hover{transform: scale(1.1);transition: 1s;}
.cont03_wrap img{transform: scale(1);transition: 1s;}
.cont03_wrap img:hover{transform: scale(1.1);transition: 1s;}
/*—rollover end—*/

.footer_wrap {width : 1920px; height:60px; border : 0px; solid #575757;
  align-items: center; display: flex; padding-left: 80px; margin : 0 auto;}

footer {background-color: #ffffff; font-family: 'Noto Sans KR', sans-serif;
font-weight: 100;
letter-spacing: 0px;
color: #000000;
font-size: 1rem;}

.sub_01_wrap_wrap {width:100%; height : 295px;  background-color: #dedede;}
.sub_01_wrap {width: 1920px; height:295px;  background-image:
  url(../img/01_03_title.png);display: flex; justify-content: center; align-items: center;
margin:0 auto; background-size: cover; background-position: center;}
.sub_01_title { border: 0px solid red;
  display:  flex; justify-content: center; align-items: center;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
  700;letter-spacing: 14px;color: #585858;font-size: 26px;}

.sub_01_contents_wrap {margin : 70px auto 0px;
  width: 1920px; justify-content: center; align-items: center;}
.profile {transform: translateX(50%); height: 700px; }
.pro_info {transform: translateX(183%); width: 461px; height: 1030px; border : 1px solid #575757;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
  300; letter-spacing: -1px;color: #585858;font-size: 16px;
  line-height: 36px; padding:30px;}
.pro_info_name {font-family: 'Noto Sans KR', sans-serif;font-weight:
500; letter-spacing: -1px;color: #585858;font-size: 24px;
line-height: 36px; margin-bottom: 12px;}
.pro_pic {transform: translateX(25%) translateY(-10%);}

.sub_02_wrap_wrap {width:100%; height : 295px;  background-color: #dedede;}
.sub_02_wrap {width: 1920px; height:295px;background-image:
  url(../img/02_00_title.png);display: flex; justify-content: center; align-items: center;
margin:0 auto;}
.sub_02_title {border: 0px solid red;
  display:  flex; justify-content: center; align-items: center;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
  700;letter-spacing: 14px;color: #585858;font-size: 26px;}

.sub_02_wrap_01 {width: 832px; margin:70px auto 0px;}
.sub_02_wrap_02 {width: 832px; margin:70px auto 0px;}
.sub_02_wrap_03 {width: 832px; margin:70px auto 0px;}
.sub_02_wrap_04 {width: 832px; margin:70px auto 80px;}
.projects_pic {margin-bottom: 60px;}
.projects_info {font-family: 'Noto Sans KR', sans-serif;font-weight:
  200; letter-spacing: -1px;color: #585858;font-size: 18px;
float: right;}

.sub_03_wrap_wrap {width:100%; height : 295px;  background-color: #dedede;}
.sub_03_wrap {width: 1920px; height:295px; background-image:
  url(../img/03_00_title.png);display: flex; justify-content: center; align-items: center;
margin:0 auto;}
.sub_03_title { border: 0px solid red;
  display:  flex; justify-content: center; align-items: center;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
  700;letter-spacing: 14px;color: #585858;font-size: 26px;}
  .sub_03_row_1 {width:2340px; height:600px; margin:80px auto 40px; display: flex;}
.sub_03_row_1_pic_01 {width:420px; height:600px; background-image: url(../img/03_01_pic.png);
background-size: cover;background-position: center;}
.sub_03_row_1_pic_02 {width:420px; height:600px; background-image: url(../img/03_02_pic.png);
background-size: cover;background-position: center;}
.sub_03_row_1_pic_03 {width:420px; height:600px; background-image: url(../img/03_03_pic.png);
background-size: cover;background-position: center;}
.sub_03_row_1_pic_04 {width:420px; height:600px; background-image: url(../img/03_04_pic.png);
background-size: cover;background-position: center;}
.sub_03_row_1_pic_05 {width:420px; height:600px; background-image: url(../img/03_05_pic.png);
background-size: cover;background-position: center;}
.sub_03_row_2 {display: flex; justify-content: center; align-items: center;
margin:0 auto;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
700;letter-spacing:-10px;color: #585858;font-size: 90px;}
.sub_03_row_3 {width:590px; display: flex; justify-content: center; align-items: center;
margin:0 auto; margin-top:35px;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
300;letter-spacing:0px;color: #343434;font-size: 14px;
line-height: 40px;}
.sub_03_row_4 {width:590px; display: flex; justify-content: left; align-items: center;
margin:15px auto 40px;;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
300;letter-spacing:0px;color: #8f8f8f;font-size: 14px;
line-height: 40px;}

.sub_04_wrap_wrap {width:100%; height : 295px;  background-color: #dedede;}
.sub_04_wrap {width: 1920px; height:295px; background-image:
    url(../img/04_00_title.png);display: flex; justify-content: center; align-items: center;
  margin:0 auto;}
.sub_04_title { border: 0px solid red;
    display:  flex; justify-content: center; align-items: center;
    font-family: 'Noto Sans KR', sans-serif;font-weight:
    700;letter-spacing: 14px;color: #585858;font-size: 26px;}
.sub_04_con_wrap {width:1920px; margin:80px auto 50px;}
.row_1 {margin: 0px auto 100px;text-align: center;}
.row_2 {margin: 0px auto 100px; text-align: center;}


.sub_05_wrap_wrap {width:100%; height : 295px;  background-color: #dedede;}
.sub_05_wrap {width: 1920px; height:295px; background-color: #DEDEDE; background-image:
url(../img/05_00_title.png);display: flex; justify-content: center; align-items: center;
margin:0 auto;}
.sub_05_title { border: 0px solid red;
  display:  flex; justify-content: center; align-items: center;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
  700;letter-spacing: 14px;color: #585858;font-size: 26px;}

.sub_05_row_1 {width:1020px; display: flex; justify-content: left; align-items: center;
margin:80px auto 0px;;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
500;letter-spacing:0px;color: #585858;font-size: 40px;}
.sub_05_row_2 {width:1020px; display: flex; justify-content: left; align-items: center;
margin:8px auto 0px;;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
100;letter-spacing:0px;color: #dcdcdc;font-size: 24px;}
.sub_05_row_3 {width :1280px; margin:0 auto;}
.sub_05_row_3_pic_02 {width:800px; display: flex; justify-content: left; align-items: center; margin:0 auto;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
300;letter-spacing:0px;color: #8f8f8f;font-size: 16px;
line-height: 40px;}
.sub_05_row_3_pic_07 {width:800px; display: flex; justify-content: left; align-items: center; margin:0 auto;
  font-family: 'Noto Sans KR', sans-serif;font-weight:
300;letter-spacing:0px;color: #8f8f8f;font-size: 16px;
line-height: 40px;}
